Q1. What is a database? Differentiate between SQL and NoSQL databases.


ans:- SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans:- Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). 
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.
These commands are used to create or modify the tables in SQL

CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax –
Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype:


DROP :
This command is used to remove an existing table along with its structure from the Database.

Syntax –
Syntax to drop an existing table.

DROP TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with
data stored up to a point in a database through SQL (Structured Query Language), but a time comes when 
we actually want to execute some fairly complicated data interactions.
We will also need the Data Manipulation Language in that situation.
DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been 
built to comprehend from scratch. When it comes to interacting with existing data, whether adding, 
moving, or deleting data, it provides a convenient way to do so.


INSERT Command
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

Syntax:

INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)
VALUES ('value1', 'value2'); 
Example :

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))
VALUES ('1', 'Nirmit', 'Gorakhpur'); 
UPDATE Command
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

Syntax:

UPDATE <table_name>
SET <column_name = value>
WHERE condition; 
Example:

UPDATE students
SET due_fees = 20000
WHERE stu_name = 'Mini'; 
DELETE Command
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

Syntax:

DELETE FROM <table_name>
WHERE <condition>; 
Example:

DELETE FROM students
WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

ans:_ DQL stands for Data Query Language, and it's a computer language used to query information systems and databases. 
DQL is a sub-language of Structured Query Language (SQL), which is a well-known example of a DQL. 
DQL statements query data in schema objects to return a schema relation based on the query.

Q5. Explain Primary Key and Foreign Key.

ans:- A primary key is used to ensure data in the specific column is unique. 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

Q7. Give the order of execution of SQL clauses in an SQL query.

ans:- Getting Data (FROM/JOIN)
Row Filter (WHERE)
Grouping (GROUP BY)
Group Filter (HAVING)
Return Expression (SELECT)
Order & Paging (ORDER BY & LIMIT/OFFSET)